/* Styling for product image with zoom effect */
.product-image {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.product-image img {
  max-width: 500px;
  max-height: 500px;
  transition: transform 0.3s ease;
}

.product-image img.zoom:hover {
  transform: scale(1.2);
}

.container {
  max-width: 1200px;
}

h2, h3 {
  font-weight: bold;
}

.text-danger {
  font-size: 1.2rem;
  color: #dc3545;
}

button {
  width: 100%;
  font-size: 1.2rem;
  background: #0f99f3;

}

button i {


}

/* Mobile responsiveness */
@media (max-width: 767px) {
  .product-image img {
    width: 100%;
    height: auto;
  }
  .btn {
    width: 100%;
    font-size: 1.2rem;
  }
}
